body
{
	background: #f5f5f5;
}

h5
{
	font-weight: 400;
}

.container
{
	margin-top: 80px;
	width: 400px;
	height: 700px;
}

.tabs .indicator
{
	background-color: #e0f2f1;
	height: 60px;
	opacity: 0.3;
}

.form-container
{
	padding: 40px;
	padding-top: 10px;
}

.confirmation-tabs-btn
{
	position: absolute;
}
.enlarge{
	width:90%;
	margin:1% 5%;
}
.login{
	width:60%;
	margin-left:20%;
}
.register{
	width:80%;
	margin-left:10%;
}
.display-linebreak {
	white-space: 'pre-wrap';
}

.purple lighten-2 {
	margin-top: 20px;
}

.flow-text {
	margin-bottom: 20px;
}

.light-blue.darken-1 {
	text-white;
}

.renderApiData {
	line-height: 100%;
	word-spacing: 8px;
}

.directVote {
	text-align: center;
}